<div class="main actor-show">
    <div class="container">
        
        <!-- Display an actor's info here -->
        <div class="actor row">
            <div class="col-sm-5"> <%= image_tag @actor.image %> </div>
            <div class="col-sm-7">
                <div class="info">
                    <h3 class="actor-name"> <%= @actor.name %> </h3>
                    <p class="actor-bio"> <%= @actor.bio %></p>
                </div>
            </div>
          
        </div>
        
        
    </div>
    <div class="container">
            <h2>Movies</h2>
            <% @movies.each do |f| %>
              <div class="movie">
                <%= link_to image_tag(f.image), movie_path(f) %>
                <h3 class="movie-title"> <%= f.title %> </h3>
                <p class="movie-release-year"> <%= f.release_year %> </p>
                <p class="movie-plot">
                    <% if f.plot.length < 400 %>
                        <%= f.plot %> 
                    <% else %>
                        <%= f.plot[0...400]+" . . ." %>
                    <% end %>
                </p>
              </div>
            <% end %>
    </div>
</div>
