<div class="main actor-show">
    <div class="container">
        
        <!-- Display an actor's info here -->
        <div class="actor row" style="height:auto" >
            <div class="col-sm-4"> <%= image_tag @actor.image %> </div>
            <div class="col-sm-8" >
                <div class="info" style="width:auto">
                    <h3 class="actor-name"> <%= @actor.name %> </h3>
                    <p class="actor-bio" style="padding:5em 5em 5em 0"> <%= @bio %></p>
                </div>
            </div>
        </div>
        
    <div class="movies row" >
            <h2>Movies</h2>
            <% @movies.each do |f| %>
              <div class="movie">
                <%= link_to image_tag(f.image), movie_path(f) %>
                <h3 class="movie-title"> <%= f.title %> </h3>
                <p class="movie-release-year"> <%= f.release_year %> </p>
                <p class="text">as: <%= @actor.character_in(f) %></p>
                <p class="movie-plot">
                    <% if f.plot.length < 120 %>
                        <%= f.plot %> 
                    <% else %>
                        <%= f.plot[0...120]+" . . ." %>
                        <%= link_to "Read more", movie_path(f) %>
                    <% end %>
                </p>
              </div>
            <% end %>
    </div>
    </div>
</div>
