<div class="main">
  <div class="container">
   <h2><%= @title %></h2>
    <div class="row">
      <% @movies.each do |f| %>
      <div class="col-md-3">
        <div class="movie">
        <%= image_tag f.image %>
        <h3> <%= f.title %> </h3>
        <p> <%= f.release_year %> </p>
        <%= link_to "Learn more", movie_path(f) %>
        </div>
    </div>
  <% end %>
      
  </div>
</div>