
<div class="main movie-show">
  <div class="container">
    <div class="movie row">
      
      <!-- Display the movie's info here -->
      <div class="row" style="height:auto;padding-bottom:2em;">
        <div class="col-sm-4">
          <%= image_tag @movie.image %>
        </div>
        <div class="col-sm-8">
          <div class="info" style="width:100%;margin-left:0.5em">
          <h3 class="movie-title"> <%= @movie.title %>  </h3></br>
          <p class="movie-release-year text-right"> <%= @movie.release_year %> </p>
          <p class="movie-plot" style="font-size:15px;"> <%= @movie.plot %> 
            <div style="padding-top:2em; color:#0393ff" ><%= link_to "IMDB" , @imdb_link , :class => "custom-link", :target => "_blank" %> Rating:<span class="stars pull-right" id="stars" ><%= @movie.rating %></span></div>
          </p>
          </div>
        </div>
      </div>
    </div>
    <% if !@trailer_url.nil? %>
    <h2 class="header-text row" style="margin: 0 auto">Trailer
        <hr>
    </h1>
    <div class="container" style="display:block;max-width:930px">
      <div align="center" class="row embed-responsive embed-responsive-16by9">
      <iframe width="400" height="315" src='<%= @trailer_url %>'>
      </iframe>
      </div>
    </div>
    <% end %>
  
  </div>
  <div class="container">
    <h2>Cast</h2>
    <div class="cast row">
      <% @actors.each do |f| %>
        <div class="actor col-md-3">
      <!-- Display each actor's info here -->
          <% if f.image.nil? %>
            <%= link_to image_tag('https://brocku.ca/sites/default/files/noImageAvailable%20icon_10.jpg'), actor_path(f) %>
          <% else %>
            <%= link_to image_tag(f.image) , actor_path(f) %>
          <% end %>
          <h3 class="actor-name"> <%= f.name %> </h3>
          <p class="actor-bio">as: <%= f.character_in(@movie) %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
 $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};

$(document).ready($('#stars').stars());
</script>