<!DOCTYPE html>
<html>
  <head>
    <title>Movie Base</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    
		<nav class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  <li><h1 id="title">Movie Base</h1></li>
					<li style="padding-left:2em;"><%= link_to "Movies", movies_path %></a></li>
					<li><%= link_to "Actors", actors_path %></li>
					<li class="dropdown">
					  	<%= link_to 'Categories <b class="caret"></b>'.html_safe, "#", :id => 'dropdownMenu1', :'data-toggle' => 'dropdown', :'aria-haspopup' => "true" , :class => 'dropdown-toggle' %>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><%= link_to "Upcoming" , categories_path("upcoming")%></li>
							<li><%= link_to "Popular" , categories_path("popular")%></li>
							<li><%= link_to "Top Rated", categories_path("top_rated") %></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Separated link</a></li>
					  </ul>
					</li>
				</ul>
				
				
				<div class="navbar-form pull-right" role="search" >
				  <div class="input-group">
            <%= form_tag search_path(:search), :method => 'get' , :style => "display:inline" do %>
              <%= text_field_tag :search, params[:search] , placeholder: "Search" , class:"form-control", style:"width: 200px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;float:left"%>
              <span class="input-group-btn pull-right" style="float:right">
                <%= button_tag(type: "submit" , class:"btn btn-default")  do %>
                  <i class="glyphicon glyphicon-search"><span class="sr-only">Search</span></i>
                <% end %>
                <button type="reset" class="btn btn-default">
  								<span class="glyphicon glyphicon-remove">
  									<span class="sr-only">Close</span>
  								</span>
							  </button>
              </span>
					  <% end %>
          </div>
          
        </div>
        
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
  <div id="wrap">
      <%= yield %>
  </div>
  <footer class="footer" style="background-color:darkgray;">
      <p class="text-right">
        <img src="https://assets.tmdb.org/images/logos/var_2_0_PoweredByTMDB_Blk_Bree.png" alt="V2.0 (PNG)">
      </p>
  </footer>
  </body>
</html>
