<!DOCTYPE html>
<html>
  <head>
    <title>Movie Base</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    
		<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  <li><h1 id="title">Movie Base</h1></li>
					<li style="padding-left:2em;"><%= link_to "Movies", movies_path %></a></li>
					<li><%= link_to "Actors", actors_path %></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				
				
				<form action="https://moviebase-lucianolo.c9users.io/search" method="get" class="navbar-form text-right" role="search" >
					<div class="input-group">
						<input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
						<span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
					</div>
				</form>
				
				<div class="navbar-form text-right" role="search">
            <%= form_tag search_path(:search), :method => 'get' do %>
              <%= text_field_tag :search, params[:search] , placeholder: "Search" %>
              <%= submit_tag "Search", :name => nil , :class =>"btn btn-info" , :style => "visibility:hidden; height:0px; width:0px;margin-top:0px"%>
            <% end %>
        </div>
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
    

    <%= yield %>

  <footer class="footer" style="background-color:darkgray;margin-top:8em;">
    <div class="container">
      <p class="text-right">
        <img src="https://assets.tmdb.org/images/logos/var_2_0_PoweredByTMDB_Blk_Bree.png" alt="V2.0 (PNG)">
      </p>
    </div>
  </footer>
  </body>
</html>
